<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <style>
      body {
        background-color: linen;
      }
      
      h1 {
        color: maroon;
        margin-left: 40px;
      }

      label {
        color: maroon;
        margin-left: 40px;
      }
      </style>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
</head>
<body>

  <h1 > Creating a letter based of Patient Observations </h1>
  <div class="container">
    <form method="POST" action="/form" name = "Input">

    <p>
      
       <label> Enter patient UUID </label>
        <input class="form-control" type="uuids" name="uuids">
     </p> 
      <button type="submit" >Submit</button>

    </form>
   
  </div>
      

</section>   
</body>

</html>